.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes an1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* src/AnimatedImage.css */
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.animated-image {
  position: absolute;
  top: 50%;
  left: -100%;
  transform: translateY(-50%);
  animation: moveImage 10s linear infinite;
}

@keyframes moveImage {
  0% {
    left: -100%;
    /* transform: scale(1 , 1); */
  }
  50% {
    left: 100%;
    /* transform: scale(1 , 1); */
   
  }
  100% {
    left: -100%;
    /* transform: scale(-1 , 1); */
  }
}

.bg {
  /* background-image: image('ppkdjp.jpg'); */
}

.btn-primary {
  background-color: #4CAF50; /* Green */
  border-width: 3px;
  border-radius: 20%;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.btn-danger {
  background-color: #d6050f; /* Green */
  border-width: 3px;
  border-radius: 20%;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}